In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'team': ['Team 1', 'Team 1', 'Team 2',
                            'Team 3', 'Team 2', 'Team 3'],
                   'Subject': ['Math', 'Science', 'Science',
                               'Math', 'Science', 'Math'],
                   'points': [10, 8, 10, 6, 6, 5]})

In [7]:
styles = [dict(selector="caption", props=[("font-size", "200%"),
                                          ("font-weight", "bold")])]

df.style.set_caption('Members').set_table_styles(styles)

In [ ]:
#header_styles = [dict(selector="caption", props=[("text-align", "left"),("font-size", "150%"),("color", 'black'),\
#                                                 ("font-weight", "bold")])]