# Tuples and Named Tuples

Kratší úsek k tuplu jako data typům.

Nahlížet na ně podobně jako na strings. Na pořadí může záležet.

## Tuple as Data Structure

- Tuple - container - záleží na pořadí - může obsahovat různé druhy dat - mají index čísla - lze je iterovat - nelze měnit hodnoty - fixní délka - fixní pořadí
- Lists - container - záleží na pořadí - může obsahovat různé druhy dat - mají index čísla - lze je iterovat - lze měnit hodnoty - měnná délka - proměnné pořadí
- Strings - container - záležé na pořadí - obsahuje pouze str - mají index čísla - lze je iterovat - nelze měnit hodnoty - fixní dílka - fixní pořadí

- nemůžeme přidávat nebo odstranit data
- nemůžeme měnit pořadí
- vhodné pro data strukturu ..
- naříklad koordinace -> mají jasně daná pravidla, pořadí a délku - díky tomu mají svůj význam
- například. Circle (0,0,10) - fixní délka a pořadí dodává smysl
- Takže pokud používáme tuple jako data structure používáme jej jako data typ který má smysl
- City: (Londo, UK, 8_780_000) - různé druhy a stejně máme význam
- city, _ , population = ("Beijing", "China", 21_000_000) => dummy variable nezajímá mě stát
- *_ již známe pro více dummy

In [9]:
a = 10,20,30 #tuple nemusíme mít závorky - pokud nemáme funkci apod. kde je to nezbytné
a

(10, 20, 30)

In [4]:
def print_tuple(t):
    for e in t:
        print(e)

In [6]:
print_tuple(10,20,30) #zde musíme zadat závorky jinak si myslí, že má tři argumenty

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [7]:
print_tuple((10,20,30))

10
20
30

In [11]:
a[0],a[1],a[2] #indexujeme tuple

(10, 20, 30)

In [14]:
a[1:3] #slicujeme je..

(20, 30)

In [15]:
x, y, z = a

In [16]:
x, y ,z #unpacking

(10, 20, 30)

In [18]:
a = 1,2,3,4,5
x, *other, y = a

In [19]:
other

[2, 3, 4]

Zajímavé je, že nám to převede na list. Jinak je to poměrně časté.

In [20]:
x, *_, z = a #pokud mě nezajímá

In [22]:
_ #to ale neznamená, že nemá hodnotu :)

[2, 3, 4]

In [23]:
class Poind2D:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f"{self.__class__.__name__}(x={self.x}, y={self.y})"

In [25]:
pt = Poind2D(10,20)

In [26]:
pt

Poind2D(x=10, y=20)

In [27]:
id(pt)

2613155100176

In [28]:
pt.x = 100

In [29]:
pt

Poind2D(x=100, y=20)

In [30]:
id(pt)

2613155100176

Pouze ukazuji, že pokud mám pointer s classou mohu jej měnit ale id mám stejné.

In [31]:
s = "python"

In [32]:
s = "python" + "rocks"
#string je immutable - ale naše s se nezměnilo - my jsme jej nezměnili ani nerozšířili
#my jsme vytvořili nový objekt

In [33]:
a = 1, 2, 3

In [34]:
id(a)

2613156015488

In [35]:
a += (4,5)

In [36]:
a

(1, 2, 3, 4, 5)

In [37]:
id(a)

2613156033456

To samé s tuplem - pouze jsme vytvořili nový objekt.

In [42]:
london = "london", "uk", 8_780_000
new_york = "new yourk", "usa", 8_500_000
beijing = "beijing", "china", 21_000_000

In [43]:
london

('london', 'uk', 8780000)

In [44]:
cities = [london, new_york, beijing]

Pouze ukázka, že často použijeme heterogení formu tuplů a napasujeme je do homogení podoby listů. Prostě to dává smysl pro operace apod.

In [45]:
total = 0
for city in cities:
    total += city[2]
print(total)
#prostě si tisknu součet počtu obyvatel

38280000

Nyní to samé pomocé list comprehension

In [49]:
sum([city[2] for city in cities]) #prostě jen badass way :)
# CO Z ČEHO ZA JAKÝCH PODMÍNEK

38280000

In [50]:
record = "DJA", 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [51]:
symbol, year, month, day, open_, high, low, close = record

In [52]:
open_

25987

Obecně strašně otravný syntax.

In [53]:
symbol, *_, close = record

In [55]:
close #rychlejší způsob jak se dostat k určitým údajům nic víc

26072

Můžeme unpacokovat ve for loopu

In [57]:
for city, country, population in cities:
    print(city, country, population)

london uk 8780000
new yourk usa 8500000
beijing china 21000000

V podstatě takto funguje enumerate funkce.

In [58]:
for item in enumerate(cities):
    print(item)

(0, ('london', 'uk', 8780000))
(1, ('new yourk', 'usa', 8500000))
(2, ('beijing', 'china', 21000000))

In [59]:
for city, index in enumerate(cities):
    print(index, city)

('london', 'uk', 8780000) 0
('new yourk', 'usa', 8500000) 1
('beijing', 'china', 21000000) 2

Tadáá