## Named Tuples

V podstatě pokud chceme například informace o S&P500 - máme např. 8 údajů, jenže Tuple bude zmatený - moc údaju..Classa ale bude moc dlouhá, musíme vše nadefinovat, lze je měnit, dodat musíme rovnosti, porovnání apod. => proto přichází na řadu Named Tuples

- Named tuples dědí od tuplů - ale mají jméno
- Je to funkce která generuje classu - je to CLASS FACTORY
- Potřebuje jméno a pole, nemohou obsahovat _,  a obdržíme classu
- Jinak to necháme spíše na kod a uvidíme jak to bude vypadat :)

In [62]:
class Point3D:
    def __init__(self, x,y,z):
        self.x = x
        self.y = y
        self.z = z
#pro jednoduchou strukturu je lepší Named Tuples než zde - pokud nepotřebujuji mutability

In [63]:
from collections import namedtuple #named tuple je funkce pozor na to - class factory :)

In [64]:
Point2D = namedtuple("Point2D", ["x","y"]) #takto evidujeme

In [65]:
pt1 = Point2D(10,20) #z classy vytvářím objekty

In [66]:
pt1

Point2D(x=10, y=20)

In [68]:
pt3d_1 = Point3D(10,20,30)

In [69]:
pt3d_1

Z classy to mám bez ineterpretace a ještě se mi v tom můžou hrabat :ú.

In [73]:
Point2D = namedtuple("Point2D", ("x","y"))

In [74]:
pt2 = Pt2D(10,20)

In [75]:
pt2

Point2D(x=10, y=20)

Nic extra, jen opakuji to co výše prozatím.

In [78]:
pt2.x, pt2.y #Mohu ale takto volat jejich hodnoty - stejně jako u classy :)

(10, 20)

In [80]:
isinstance(pt2, tuple) #pouze připomínka - máme classu ale stále tuple

True

In [81]:
pt1 = Point2D(10,20)
pt2 = Point2D(10,20)

In [82]:
pt1 is pt2, pt1 == pt2, pt1 > pt2, pt1 <= pt2

(False, True, False, True)

Máme rovnou zabudováno porovnání, rovnost, a adresy mají samozřejmě jiné. Netřeba dodávat eq..apod.., hurá na to pro ukázku

In [83]:
class Point3D:
    def __init__(self, x,y,z):
        self.x = x
        self.y = y
        self.z = z
        
    def __repr__(self):
        #reprezentace classy
        return f"{self.__class__.__name__}, x={self.x}, y={self.y}, z={self.z}"
    
    def __eq__(self,other):
        if isinstance(other,Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return false

Nyní bych mohl plašit s funkcionalitou i u classy, ale porovnání bych zase nedal..

In [84]:
pt1 = Point2D(10,20)
pt2 = Point3D(10,20,30)

Chceme maximum například.

In [85]:
max(pt1)

20

Snadné ale pro pt2 - error, musel bych zase dodávat fičuru navíc aby mi to u classy fungovalo. V podstatě named tuples dodává balík fičur zdarma.

In [86]:
def dot_product_3d(a,b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [87]:
pt1 = Point3D(1,2,3)
pt2 = Point3D(1,1,1)

In [88]:
dot_product_3d(pt1,pt2)

6

Počítáme kartézský produkt u classy. Nyní to zkusíme u tupliků.

In [89]:
a = (1,2)
b = (1,1)

In [90]:
list(zip(a,b))

[(1, 1), (2, 1)]

In [91]:
sum(e[0]* e[1] for e in zip(a,b))

3

V podstatě jde o to, že díky tomu že mám tuplíky stím mohu snadněji provádět operace. Zde to tak nemusí vypadat ale pokud by bylo hodnot hodně...tak by to moc nešlo :). Ještě tedy názorně pro tuple se třemi hodnotami.

In [93]:
Vector3D = namedtuple("Vector3D", "x y z")

In [94]:
v1 = Vector3D(1,2,3)
v2 = Vector3D(1,1,1)

In [95]:
dot_product_3d(v1,v2)

6

Ale můžu na ně vesele použít u funkci, kterou jsme vytvořili. Prostě je to operativnější. Stále je to tuple, takže indexujeme, slicujeme apod. ale též můžeme získat i jako field name :).

In [98]:
v1.x, v1[0], v1 #tadááá

(1, 1, Vector3D(x=1, y=2, z=3))

In [99]:
Circle = namedtuple("Circle","center_x center_y radius" )
#dobrej typ nemusím  u namedtuple dávat čárky stačej mezery

In [100]:
c = Circle(0,0,10)

In [103]:
c.center_x, c.center_y, c.radius #je to prostě pecka :)

(0, 0, 10)

In [104]:
Stock = namedtuple("Stock", """symbol year 
                    momth day open 
                    high low close""")
#další pěkný syntax typ - použít """"""

In [105]:
djia = Stock("DJIA", 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [107]:
djia #náš velká namedtuple ..jen ukázka že si vše přebral správně

Stock(symbol='DJIA', year=2018, momth=1, day=25, open=26313, high=26458, low=26260, close=26393)

Jelikož máme tuple můžeme samozřejmě iterovat

In [108]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [109]:
p = Point2D(10,20)

In [110]:
x,y = p

In [111]:
x, y

(10, 20)

Unpacking zde funguje též stejně, a stejně tak i extended unpcaking tzn. použití *_ bez problému.

In [114]:
symbol, *_, konec_close = djia

In [118]:
konec_close, djia.close, djia[7] #:))

(26393, 26393, 26393)

In [120]:
_ #samozřejmě nikam se neztratí

[2018, 1, 25, 26313, 26458, 26260]

In [121]:
Person = named("Person", "name age _ssn")

NameError: name 'named' is not defined

Do fieldname prostě nesmím cpát _ - nelíbí se mu to, leda bych mu dodal parametr na rename = True

In [124]:
Person = namedtuple("Person", "name age ssn")

In [126]:
Person._fields #můžeme takto nahlédnout

('name', 'age', 'ssn')

In [129]:
d = djia._asdict()

In [130]:
d["symbol"]

'DJIA'

Zajímavý, prostě si je přehodím jako dictionary :). Jako rodered tedy ..Protože tuple je ordered též.

In [133]:
d

{'symbol': 'DJIA',
 'year': 2018,
 'momth': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

Dřív dictionary neměl garantování pořadí, teď už to tak je. Takže by mohl být klasický dictionary. Takže OrderedDict už budou dříve nebo později mimo, teď už asi jsou mimo.